@charset "UTF-8";

* { font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;}

body{
    background-image: linear-gradient(to right, #0000ff,#0000ffb4,#0000ff7c,#0000ff49,#ff000042,#ff00006c,#ff0000a9,#db0101);
}

header img{ width: 100%; display: block; margin: 10px auto;}

div { width: 90%;}
div nav ul li {display: inline-block; padding: 10px; border-radius: 10px;}
div nav ul li > a { padding: 10px; color: white; font-weight: bold; font-size:1.1em; text-decoration: none;}


div nav ul li:hover{ background-color: goldenrod;}

div nav ul li ul li { display:block;}
div nav ul li:hover ul li { display: block;}

.container {text-align: center; width:122px; position: absolute}
.item { display:none;text-align: center; position: relative; top: 100%; left: -10px; background-color: goldenrod;}
.container:hover .item {display: block;}


main{ max-width: 800px; margin: 10px auto 20px auto; background-color: white; padding: 10px;width: 80%; border-radius: 10px; box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.685);}


.main > h1 { color: #0000ff; text-shadow: 3px 3px 2px #db0101; text-align: center; font-size: 3em; padding: 10px;}
.main > h2 { font-size: 2em; text-align: center; padding: 10px;}
.main > img { width: 70%; display: block; margin: auto;}

p {text-indent: 30px; padding: 10px; font-size: 1.1em; line-height: 1.5; text-align: center;}




